<template>
    <div id="modal">
        <div id="content">
            <h2>Prohrál jsi!</h2>
            Zkus to znovu :-)
            <button @click="goToMenu">Návrat</button>
        </div>
    </div>
</template>

<script>

    export default {
        name: "LostGameModal",
        methods: {
            /**
             * Returns to main menu.
             */
            goToMenu: function () {
                this.$router.push("/");
            }
        }
    }
</script>

<style scoped>

    #modal {
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #content {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
        min-width: 300px;
        margin: auto;
    }

    button {
        display: block;
        height: 30px;
        padding: 0 15px;
        margin: 20px auto 0;
        font: unset;
        font-weight: bold;
        color: white;
        background-color: #2c3e50;
        border-radius: 10000px;
        border: none;
    }

</style>
