<template>
    <div class="main">
        <video ref="vid"></video>
        <img src="../assets/images/virus.png" alt="background">
    </div>
</template>

<script>
    export default {
        name: "Background",
        mounted() {
            this.getVideo()
        },
        methods: {
            /**
             * Asks for WebRTC permission and starts video playback in background.
             */
            getVideo() {
                let video = this.$refs.vid;

                // Without these 3 lines it doesn't work on iOS
                video.setAttribute('autoplay', '');
                video.setAttribute('muted', '');
                video.setAttribute('playsinline', '');

                navigator.mediaDevices.getUserMedia({video: true})
                    .then(source => {
                        video.srcObject = source;
                        video.play()
                    })
            }
        }
    }
</script>

<style scoped>
    .main {
        background-color: gray;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
    }

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: saturate(5000%) invert() blur(50px);
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        animation: animace 10s linear infinite alternate;
    }

    @keyframes animace {
        0% {
            top: -10vh;
            left: -10vw;
            transform: scale(0.8) rotate(360deg);
        }
        25% {
            top: 30vh;
            left: 20vw;
            transform: scale(1.2) rotate(90deg);
        }
        50% {
            top: 0;
            left: 40vw;
            transform: scale(0.8) rotate(180deg);
        }
        75% {
            top: 50vh;
            left: 60vw;
            transform: scale(1.2) rotate(90deg);
        }
        100% {
            top: -10vh;
            left: 80vw;
            transform: scale(0.8) rotate(360deg);
        }
    }
</style>