<template>
    <div class="main">
        <ul>
            <li>Velikost pole: {{ field.options.sizeX }}x{{ field.options.sizeY }}</li>
            <li>Počet virů: {{ field.options.virCount }}</li>
            <li>Čas: {{time}} sekund</li>
        </ul>
        <canvas @click="handleFieldClick" @contextmenu="handleFieldClick" ref="grid"></canvas>
        <button @click="requestFullscreen">Na celou obrazovku</button>
        <button @click="downloadSave">Stáhnout</button>
        <transition name="fade">
            <WonGameModal v-if="state === 'win'"></WonGameModal>
            <LostGameModal v-if="state === 'lost'"></LostGameModal>
        </transition>
    </div>
</template>

<script>

    import Options from '../js/Options.js';
    import Field from '../js/Field.js';
    import Square from '../js/Square.js';
    import LostGameModal from "@/components/modals/LostGameModal";
    import NumberElement from "@/js/elements/NumberElement";
    import UnknownVirusElement from "@/js/elements/UnknownVirusElement";
    import RedVirusElement from "@/js/elements/RedVirusElement";
    import UnknownSafeElement from "@/js/elements/UnknownSafeElement";
    import WonGameModal from "@/components/modals/WonGameModal";
    import FlagSafeElement from "@/js/elements/FlagSafeElement";
    import FlagVirusElement from "@/js/elements/FlagVirusElement";
    import ScoreSet from "@/js/ScoreSet";

    export default {
        name: "Game",
        components: {WonGameModal, LostGameModal},
        props: {
            proptions: Options
        },
        data() {
            return {
                winSound: new Audio(require("../assets/sounds/" + "win.mp3")),
                lostSound: new Audio(require("../assets/sounds/" + "lost.mp3")),
                state: "running",                                                 // Either WIN, RUNNING or LOST
                size: 30,                                                         // How large is one square
                time: 0,                                                          // Seconds since game started
                field: new Field(new Options(0, 0, 0))      // Contains info about all squares and game options
            }
        },
        mounted() {
            this.loadField();
            this.prepareCanvas();
            this.advanceTimer();
            setTimeout(this.redrawField, 100);     // Give icons enough time to load
        },
        methods: {
            /**
             * Refreshes game timer every second.
             */
            advanceTimer() {
                this.time = Math.round((new Date().getTime() - this.field.time) / 1000);
                setTimeout(this.advanceTimer, 1000)
            },

            // Initialization
            /**
             * Attempts to load field from LocalStorage or initiates a new one.
             */
            loadField() {
                if (!this.proptions) {
                    if (localStorage.field) {
                        try {
                            this.field = Field.fromJson(localStorage.field)
                        } catch (e) {
                            this.deleteSave();
                            this.$router.push("/");
                        }
                    } else {
                        this.$router.push("/");
                    }
                } else {
                    let field = new Field(this.proptions);
                    field.generateElements();
                    this.field = field
                }
            },

            /**
             * Saves current game progress to LocalStorage.
             */
            saveGame: function () {
                localStorage.field = JSON.stringify(this.field);
            },

            /**
             * Exports current game progress to base64 and downloads it to disk.
             */
            downloadSave() {
                const dataStr = "data:text/plain;charset=utf-8," + encodeURIComponent(btoa(JSON.stringify(this.field)));
                const downloadAnchorNode = document.createElement('a');
                downloadAnchorNode.setAttribute("href",     dataStr);
                downloadAnchorNode.setAttribute("download", "hledani_viru_save.json");
                document.body.appendChild(downloadAnchorNode);                  // Required for Mozzila Firefox
                downloadAnchorNode.click();
                downloadAnchorNode.remove();
            },

            /**
             * Deletes current game progress from LocalStorage.
             */
            deleteSave: function () {
                localStorage.removeItem("field");
            },

            /**
             * Setups canvas for different pixel density displays.
             */
            prepareCanvas() {
                const canvas = this.$refs.grid;

                const width = this.field.options.sizeX * this.size + 5;
                const height = this.field.options.sizeY * this.size + 5;

                canvas.width = devicePixelRatio*width;
                canvas.height = devicePixelRatio*height;
                canvas.style.width = width + "px";
                canvas.style.height = height + "px";

                const ctx = canvas.getContext('2d');
                ctx.scale(devicePixelRatio,devicePixelRatio);
            },

            // Click handling
            /**
             * Called every time users clicks the canvas. Transfers the event to particular field element.
             * @param e Click event.
             */
            handleFieldClick: function (e) {
                e.preventDefault();

                const square = this.getClickSquare(e);
                const element = this.field.getElementAt(square);

                if(e.button === 2) {
                    element.handleRightClick(this, square);
                } else {
                    element.handleClick(this, square);
                }

                this.redrawField();
            },

            /**
             * Computes the X and Y values of square based on where user clicked.
             * @param e Click event.
             * @returns {Square} Square at the click location.
             */
            getClickSquare(e) {
                const x = e.offsetX;     // X position within the canvas element
                const y = e.offsetY;     // Y position within the canvas element

                const canvas = this.$refs.grid;
                const width = canvas.clientWidth;
                const height = canvas.clientHeight;

                const squareX = Math.floor(x / width * this.field.options.sizeX);
                const squareY = Math.floor(y / height * this.field.options.sizeY);

                return new Square(squareX, squareY);
            },

            // Fullscreen API
            /**
             * Attempts to show canvas in full-screen mode.
             */
            requestFullscreen() {
                let canvas = this.$refs.grid;
                if (canvas.requestFullscreen) {
                    canvas.requestFullscreen();
                } else if (canvas.msRequestFullscreen) {
                    canvas.msRequestFullscreen();
                } else if (canvas.mozRequestFullScreen) {
                    canvas.mozRequestFullScreen();
                } else if (canvas.webkitRequestFullscreen) {
                    canvas.webkitRequestFullscreen();
                }
            },

            /**
             * Exits canvas full-screen mode.
             */
            exitFullscreen() {
                if(!document.fullscreenElement) return;
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                }
            },

            // Game & Square actions
            /**
             * Checks winning conditions and acts accordingly.
             */
            checkWin: function () {
                let hasWon = this.field.field.flat(1).every(element => {
                    return !(element instanceof UnknownSafeElement)  // No more unknown safe fields remaining
                });

                if(hasWon) {
                    this.exitFullscreen();
                    this.revealAllViruses();
                    this.winSound.play();
                    this.state = "win";
                    this.saveScore();
                    this.deleteSave()
                }
            },

            /**
             * Saves current time into the scoreboard (LocalStorage).
             */
            saveScore() {
                let scores = [];
                if(localStorage.scores) {
                    scores = JSON.parse(localStorage.scores)
                }
                scores.push(new ScoreSet(this.field.options, this.time));
                localStorage.scores = JSON.stringify(scores);
            },

            /**
             * Shows entire field, shows lost modal window and deletes save.
             * @param square The location where virus was triggered.
             */
            loseTheGame: function (square) {
                this.exitFullscreen();
                this.revealAllViruses();
                this.setSquareElement(square, new RedVirusElement());
                this.lostSound.play();
                this.state = "lost";
                this.deleteSave();
            },

            /**
             * Reveals location of all viruses in field.
             */
            revealAllViruses: function () {
                for (let x = 0; x < this.field.options.sizeX; x++) {
                    for (let y = 0; y < this.field.options.sizeY; y++) {
                        let square = new Square(x,y);
                        if (this.field.getElementAt(square) instanceof UnknownVirusElement) {
                            this.revealSquare(square)
                        }
                    }
                }
            },

            /**
             * Reveals element in a particular square.
             * @param square Location.
             */
            revealSquare: function (square) {
                const element = this.field.getElementAt(square);
                this.setSquareElement(square, element.getRevealed());
            },

            /**
             * Puts flag element at particular square location.
             * @param square Location.
             * @param safe Boolean indicating whether the square is safe (no virus).
             */
            putFlag: function (square, safe) {
                this.setSquareElement(square, safe ? new FlagSafeElement() : new FlagVirusElement());
                this.saveGame()
            },

            /**
             * Sets field element at particular square.
             * @param square Location.
             * @param element Element to be set.
             */
            setSquareElement: function (square, element) {
                this.field.setElementAt(square,element);
            },

            /**
             * Recursively reveals all save fields around particular square until virus is found.
             * @param square Location.
             */
            revealSafeFields: function (square) {

                let element = this.field.getElementAt(square);
                if (!element.isUnknown()) {
                    return;
                }

                const count = this.field.getNumberOfVirusesNextTo(square);
                if (count > 0) {
                    this.setSquareElement(square, new NumberElement(count));
                    return;
                } else {
                    this.revealSquare(square);
                }

                let squares = this.field.getSquaresNextTo(square);

                for (let square of squares) {
                    this.revealSafeFields(square);
                }
            },

            // Drawing
            /**
             * Redraws all squares and grid lines in canvas.
             */
            redrawField: function () {
                const canvas = this.$refs.grid;
                if(!canvas) return;     // When user exits the game
                const ctx = canvas.getContext('2d');
                this.clearGrid(ctx);
                this.drawSquares(ctx);
                this.drawGrid(ctx);
            },

            /**
             * Draws all square elements in canvas.
             * @param ctx Canvas drawing context.
             */
            drawSquares: function (ctx) {
                for (let x = 0; x < this.field.options.sizeX; x++) {
                    for (let y = 0; y < this.field.options.sizeY; y++) {
                        let square = new Square(x,y);
                        let element = this.field.getElementAt(square);
                        this.drawElementToSquare(square, element, ctx);
                    }
                }
            },

            /**
             * Draws element to particular square.
             * @param square Location.
             * @param element Element to be drawn.
             * @param ctx Canvas drawing context.
             */
            drawElementToSquare: function (square, element, ctx) {
                if (!ctx) {
                    const canvas = this.$refs.grid;
                    ctx = canvas.getContext('2d');
                }
                const rect = this.getSquareRect(square);
                const size = this.size;

                ctx.drawImage(element.getImageFile(), rect[0], rect[1], size, size);
            },

            /**
             * Returns origin for rectangle of a particular square.
             * @param square Location.
             * @returns {number[]} X and Y coordinates of the rectangle origin.
             */
            getSquareRect: function (square) {
                return [square.x * this.size, square.y * this.size]
            },

            /**
             * Fills canvas with light gray colors removing all drawn elements and grid lines.
             * @param ctx Canvas drawing context.
             */
            clearGrid: function (ctx) {
                const width = this.field.options.sizeX * this.size;
                const height = this.field.options.sizeY * this.size;
                ctx.fillStyle = "lightgray";
                ctx.fillRect(0, 0, width, height);
            },

            /**
             * Draws all grid lines into canvas.
             * @param ctx Canvas drawing context.
             */
            drawGrid: function (ctx) {

                const width = this.field.options.sizeX * this.size;
                const height = this.field.options.sizeY * this.size;

                ctx.strokeStyle = "rgb(100,100,100)";
                ctx.translate(0.5, 0.5);
                for (let i = 0; i <= Math.max(width, height); i += this.size) {
                    ctx.moveTo(i, 0);
                    ctx.lineTo(i, height);
                    ctx.moveTo(0, i);
                    ctx.lineTo(width, i);
                }
                ctx.translate(-0.5, -0.5);
                ctx.stroke();
            }
        }
    }
</script>

<style scoped>

    .main {
        padding-bottom: 100px;
    }

    ul {
        list-style-type: none;
        font-size: 30px;
        padding: 0;
        color: white;
        filter: drop-shadow(0px 0px 2px black);
    }

    ul > li:first-letter {
        color: yellow;
        font-size: 50px;
    }

    canvas {
        filter: drop-shadow(0px 0px 10px black);
        margin-bottom: 40px;
    }

    button {
        height: 50px;
        font-size: 20px;
        padding: 0 15px;
        display: block;
        margin: 0 auto 20px;
    }

    .fade-enter-active {
        transition: opacity .5s;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
    }

    @media (min-width: 600px) {
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>