<template>
    <div id="main">
        <ul>
            <li><button @click="startNewGame">Nová hra</button></li>
            <li><button @click="continueGame" v-if="canContinue">Pokračovat</button></li>
            <li><button @click="goToScoreboard">Žebříček</button></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "MainMenu",
        data() {
            return {
                canContinue: localStorage.field != null      // True if the is a saved game in LocalStorage.
            }
        },
        methods: {
            /**
             * Navigates to new game options.
             */
            startNewGame: function () {
                this.$router.push("/new")
            },
            /**
             * Navigates to existing saved game.
             */
            continueGame: function () {
                this.$router.push("/game")
            },
            /**
             * Navigates to the scoreboard.
             */
            goToScoreboard: function () {
                this.$router.push("/scoreboard");
            }
        }
    }
</script>

<style scoped>
    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 200px;
        height: 50px;
        font-size: 20px;
        animation: jiggle 1s linear infinite alternate;
    }
    
    @keyframes jiggle {

        50% {
            transform: rotate(-10deg) translate(10px);
        }

        100% {
            transform: rotate(10deg) translate(-10px);
        }
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    ul li {
        margin: 10px 0;
    }
</style>