<template>
    <div>
        <div class="formPart">
            <label>Velikost pole:</label>
            <br>
            <label>
                <input type="text" v-model="sizeX" ref="sizeXinput" placeholder="Šířka pole" required>
            </label>
            <span>x</span>
            <label>
                <input type="text" v-model="sizeY" placeholder="Výška pole" required>
            </label>
            <br>
            <button @click="setSize(10,10)">10x10</button>
            <button @click="setSize(25,25)">25x25</button>
            <button @click="setSize(50,50)">50x50</button>
        </div>
        <div class="formPart">
            <label>Počet virů:</label>
            <br>
            <label>
                <input type="text" v-model="virCount" placeholder="Počet virů" required>
            </label>
            <br>
            <button @click="virCount = 25">25</button>
            <button @click="virCount = 100">100</button>
            <button @click="virCount = 250">250</button>
        </div>
        <div class="formPart">
            <button @click="goBack">Zpět</button>
            <button @click="startGame">Začít</button>
        </div>
    </div>
</template>

<script>

    import Options from '../js/Options.js';

    export default {
        name: "NewGameOptions",
        data: function () {
            return {
                sizeX: 20,      // Currently selected field width in squares
                sizeY: 20,      // Currently selected field height in squares
                virCount: 20    // Currently selected number of viruses in field
            }
        },
        mounted() {
            this.$refs.sizeXinput.focus()       // Autofocus input field
        },
        methods: {
            /**
             * Sets currently selected field width and height in squares
             * @param x Width.
             * @param y Height.
             */
            setSize: function (x, y) {
                this.sizeX = x;
                this.sizeY = y;
            },

            /**
             * Validates the form and fixes any errors. If everything is ok, starts the game.
             */
            startGame: function () {

                if(isNaN(this.sizeX) || isNaN(this.sizeY) || isNaN(this.virCount)) {
                    alert("Zadávej pouze čísla ty knedlíku");
                    this.sizeX = 20;
                    this.sizeY = 20;
                    this.virCount = 20;
                    return;
                } else {
                    this.sizeX = parseInt(this.sizeX);
                    this.sizeY = parseInt(this.sizeY);
                    this.virCount = parseInt(this.virCount);
                }

                let idealSizeX = Math.max(1, Math.min(50, this.sizeX));
                if(idealSizeX !== this.sizeX) {
                    alert("Šířka pole musí být mezi 1 a 50 čtverečky!");
                    this.sizeX = idealSizeX;
                    return;
                }

                let idealSizeY = Math.max(1, Math.min(50, this.sizeY));
                if(idealSizeY !== this.sizeY) {
                    alert("Výška pole musí být mezi 1 a 50 čtverečky!");
                    this.sizeY = idealSizeY;
                    return;
                }

                let idealVirCount = Math.max(0, Math.min(this.sizeX * this.sizeY, this.virCount));
                if(idealVirCount !== this.virCount) {
                    alert("Počet virů nemůže být vyšší než počet čtverečků, ale musí být nezáporný!");
                    this.virCount = idealVirCount;
                    return;
                }

                this.$router.push({name: 'game', params: {proptions: new Options(this.sizeX, this.sizeY, this.virCount)}})
            },

            /**
             * Navigates one step back in window history.
             */
            goBack: function () {
                this.$router.go(-1);
            }
        }
    }
</script>

<style scoped>

    .formPart > label {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }

    label ~ label > input[type=text]:required {
        background-color: white;
        width: 150px;
        border: none;
        text-align: center;
        height: 50px;
        border-radius: 1000px;
        font-family: "Comic Sans MS", sans-serif;
        font-size: 30px;
        margin-top: 20px;
    }

    label ~ label > input[type=text]:focus:required {
        animation: scaler 0.5s ease-in-out infinite alternate;
        outline: none;
    }

    @keyframes scaler {
        100% {
            transform: scale(1.1);
        }
    }

    label + span {
        font-size: 50px;
        margin: 0 10px;
        color: yellow;
    }

    div.formPart {
        filter: drop-shadow(0px 0px 2px black);
        margin-bottom: 40px;
    }

    .formPart button {
        margin: 10px 5px 0;
        font-size: 20px;
        width: 100px;
        border-radius: 1000px;
        height: 50px;
        padding: 0 20px;
    }
    
    @media (max-width: 600px) {
        input {
            max-width: 80px;
            max-height: 30px;
            font-size: 100px;
        }
    }
</style>