<template>
    <div id="main">
        <table>
            <tr>
                <th>Čas</th>
                <th>Počet virů</th>
                <th>Šířka pole</th>
                <th>Výška pole</th>
            </tr>
            <tr v-for="score in scores" v-bind:key="score.date">
                <td>{{score.time}} sekund</td>
                <td>{{score.options.virCount}}</td>
                <td>{{score.options.sizeX}}</td>
                <td>{{score.options.sizeY}}</td>
            </tr>
        </table>
        <button @click="goBack">Zpět</button>
    </div>
</template>

<script>
    export default {
        name: "Scoreboard",
        data() {
            return {
                scores: []
            }
        },
        mounted() {
            this.loadScores();
        },
        methods: {
            /**
             * Attempts to load saved scores from LocalStorage or initiates an empty array.
             */
            loadScores() {
                let scores = [];
                if(localStorage.scores) {
                    scores = JSON.parse(localStorage.scores)
                }
                this.scores = scores.sort((a, b) => a.time - b.time)
            },

            /**
             * Navigates one step back in window history.
             */
            goBack: function () {
                this.$router.go(-1);
            }
        }
    }
</script>

<style scoped>
    table {
        width: 100%;
        margin-bottom: 40px;
        filter: drop-shadow(0px 0px 2px black);
    }
    th {
        color: white;
        width: 25%;
        font-size: 25px;
    }
    td {
        color: white;
        font-size: 20px;
    }
    button {
        height: 40px;
        width: 100px;
        font-size: 20px;
    }

    @media (max-width: 600px) {
        th {
            font-size: 20px;
        }
        td {
            font-size: 18px;
        }
    }
</style>