<template>
    <div id="app" @drop.prevent="addFile" @dragover.prevent>
        <Background></Background>
        <h1 @click="$router.push('/')">Hledání virů</h1>
        <transition name="fade">
            <router-view></router-view>
        </transition>
        <footer>© Šimon Zvára 2020-2021 - ČVUT - FEL - SIT - KAJ</footer>
    </div>
</template>

<script>
    import Background from "@/components/Background";

    export default {
        name: 'App',
        components: {Background},
        methods: {
            /**
             * Attempts to load saved game from drag and drop.
             * @param e
             */
            addFile(e) {
                let file = e.dataTransfer.files[0];
                let fr = new FileReader();
                let app = this;
                fr.onload = function(event) {
                    try {
                        localStorage.field = atob(event.target.result.toString());
                        app.$router.push("/game")
                    } catch (e) {
                        console.error("Tento soubor je neplatný!")
                    }
                };
                fr.readAsText(file)
            }
        }
    }
</script>

<style>

    h1 {
        color: white;
        font-family: "Comic Sans MS", sans-serif;
        font-size: 100px;
        filter: drop-shadow(5px 2px black);
        margin-bottom: 20px;
        cursor: pointer;
        animation: jumpy 2s ease-in-out infinite alternate;
    }

    @keyframes jumpy {
        100% {
            transform: translate(0, -30px) scale(1.1);
        }
    }

    #app {
        font-family: "Comic Sans MS", Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    .fade-enter-active {
        transition: all 0.5s;
    }

    .fade-enter {
        opacity: 0;
        transform: scale(0.5);
    }

    button {
        font: unset;
        font-weight: bold;
        color: white;
        background-color: #2c3e50;
        border-radius: 10px;
        border: none;
        transition: all 0.1s linear;
        cursor: pointer;
    }

    button:hover {
        filter: opacity(90%) brightness(150%);
    }

    button:nth-child(2n) {
        background-color: #365f87;
    }

    footer {
        color: white;
        font-size: 20px;
        filter: drop-shadow(0px 0px 2px black);
        margin: 100px 20px 60px;
        animation: jumpy 2s ease-in-out infinite alternate;
    }

    @media (max-width: 600px) {
        h1 {
            font-size: 50px;
        }
    }

</style>
